html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-size: 100%;
  font-family: 'Lora', Times, 'Times New Roman', Georgia, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding-bottom: 63px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

::selection {
  background-color: rgba(255, 200, 0, .3);
  color: #222;
  text-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

h1, h2 {
  font-weight: 700;
}

h3, h4, h5, h6 {
  margin: 1.5em 0 .5em;
}

h1 { font-size: 3.5em; margin: .25em 0; }
h2 { font-size: 2.25em; }

a {
  color: #306c9e; /* #2d6a99; /* #3f677f; /* #36A7D8; /* #e73f3f; */ /* #306c9e; */
  text-decoration: none;
}

.logo {
  max-width: 40px;
}

.logo, .logo img {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.more {
  text-align: center;
  color: #555;
  font-size: 1.25em;
  font-style: italic;
  padding: 2em 0;
  background: #fafafa;
}

p sup {
  font-size: .75em;
  line-height: 1em;
}

section a {
  border-bottom: 1px solid #e5e5e5;
}

figure a, figure a:hover {
  border-color: transparent;
}

.post .words {
  color: transparent;
}

.post:hover .words {
  color: #ddd;
}

a:hover {
  color: #0d4774;
}

.wrapper {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  padding: 2em 0;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0 0 .5em;
}

pre {
  /*white-space: pre-wrap;*/
  overflow: scroll;
  background: #eee;
  padding: 1em 2em;
  margin: 2em -2em;
}

blockquote {
  margin: 2em -2em;
  font-size: 1.25em;
  font-style: italic;
}

figure a {
  display: block;
}

.featured-image {
  padding: 5em 0;
  text-align: center;
}

.end {
  text-align: center;
  font-size: 1.5em;
}

.post {
  color: #333;
}

.post h3 {
  margin-top: 2em;  
}

.post figure {
  margin: 1em -3em;
  text-align: center;
}

.post header, .body-copy {
  padding-top: 1em;
  padding-bottom: 1em;
}

.post header {
  text-align: center;
}

.post header h2 {
  font-size: 1.125em;
  font-style: italic;
  color: #999;
  margin: 0;
}

.post p {
  margin: 0 0 1.15em;
  line-height: 1.6em;
}

.body-copy h2 {
  font-size: 1.2em;
  line-height: 1.4em;
}

.articles {
  border-top: 1px solid #eee;
}

.articles ul {
  padding: 0;
  list-style: none;
  font-size: 1.5em;
  font-style: italic;
}

.articles .date {
  color: #bbb;
}

.articles .date, .articles .words {
  font-size: .8em;
}

li {
  padding: .5em 0;
}

.body-copy, .comments {
  font-size: 1.125em;
}

.about-the-author {
  padding: 2em 0;
  font-size: 1.0625em;
}

.about-the-author img {
  margin-left: -2em;
  margin-right: 20px;
  float: left;
  width: 100px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

.author p {
  color: #666;
  /*font-style: italic;*/
  line-height: 1.5em;
  margin-left: 100px;
}

.social {
  color: #aaa;
}

.social:hover {
  color: #36A7D8;
  text-decoration: none;
  border: none;
}

footer {
  background: #f5f5f5;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer {
  font-size: .75em;
}

footer span {
  color: #888;
}

footer a {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-left: 1em;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.intro-title {
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 1em;
  font-weight: 400;
  font-family: 'Lora', Times, 'Times New Roman', Georgia, sans-serif;
}

.logo {
  position: relative;
}

.logo img {
  opacity: 0;
}

.logo img, .logo:before {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.logo:before {
  background-image: url('/img/logo-grayscale.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 40px 46px;
  position: absolute;
  left: 0;
  height: 46px;
  width: 40px;
  top: 0;
  content: " ";
  opacity: .3;
}

.logo:hover:before {
  opacity: 0;
}

.logo:hover img {
  opacity: 1;
}

figcaption {
  font-size: .75em;
  font-style: italic;
  color: #888;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 80%;
    padding-bottom: 56px;
  }
  
  h1 { font-size: 3em; }

  .body-copy, .comments {
    margin-left: 0;
    margin-right: 0;
  }

  .intro {
    padding: 0;
  }

  pre {
    padding: 1em;
    margin: 1em -1em;
  }
  
  .post figure {
    margin: 0 -1em;
  }

  .about-the-author {
    font-size: 1.25em;
    margin: 0;
    padding: 2em 0;
    text-align: center;
  }

  .about-the-author .author,
  .about-the-author img {
    float: none;
    margin: 0 auto 1em;
  }

  .about-the-author p {
    margin-left: 0;
  }

  footer .social {
    font-size: 2em;
  }

  .articles {
    margin: 0;
  }

  .post .words {
    display: none;
  }

  footer .social span {
    display: none;
  }
}
