@font-face {
    font-family: 'entypo';
    src: url('fonts/entypo.eot');
    src: url('fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('fonts/entypo.woff') format('woff'),
         url('fonts/entypo.ttf') format('truetype'),
         url('fonts/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'entypo-social';
    src: url('fonts/entypo-social.eot');
    src: url('fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('fonts/entypo-social.woff') format('woff'),
         url('fonts/entypo-social.ttf') format('truetype'),
         url('fonts/entypo-social.svg#entypo-social') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'entypo-social';
    src: url('fonts/entypo-social.svg') format('svg');
  }
  @font-face {
    font-family: 'entypo';
    src: url('fonts/entypo.svg') format('svg');
  }
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-size: 100%;
  font-family: 'Lora', Georgia, serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding-bottom: 90px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

::selection {
  background-color: rgba(255, 200, 0, .3);
  color: #222;
  text-shadow: none;
}

h1, h2 {
  font-weight: 400;
}

h1 { font-size: 3.5em; margin: .25em 0; }
h2 { font-size: 2.25em; }

a {
  color: #3f677f; /* #36A7D8; /* #e73f3f; */ /* #306c9e; */
  text-decoration: none;
}

section a {
  border-bottom: 1px solid #eee;
}

section a:hover {
  background: rgba(255, 247, 165, .5);  
}

figure a:hover {
  background: none;
  border: none;
}

a:hover {
  color: #222;
  border-color: #36A7D8;
}

.content {
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0 0 .5em;
}

pre {
  white-space: pre-wrap;
  background: #eee;
  padding: 1em 2em;
  margin: 2em -2em;
}

blockquote {
  margin: 2em -2em;
  font-size: 1.25em;
  font-style: italic;
}

figure a {
  display: block;
}

.post {
  color: #333;
}

.post h3 {
  margin-top: 2em;  
}

.post figure {
  margin: 1em -3em;
  text-align: center;
}

.post header, .body-copy {
  padding-top: 1em;
  padding-bottom: 1em;
}

.post header {
  text-align: center;
}

.post header h2 {
  font-size: 1.125em;
  font-style: italic;
  color: #999;
  margin: 0;
}

.post p {
  margin: 0;
  line-height: 1.6em;
}

.body-copy h2 {
  font-size: 1.2em;
  line-height: 1.4em;
}

.post p + p {
  text-indent: 2em;
}

li {
  padding: .5em 0;
}

.body-copy {
  font-size: 1.25em;
  padding-left: 3em;
  padding-right: 3em;
}

.about-the-author {
  border-top: 1px solid #ddd;
  padding: 3em 0;
  margin: 0 3em;
  font-size: 1.0625em;
}

.about-the-author img {
  margin-left: -2em;
  margin-right: 10px;
  float: left;
}

.about-the-author .author {
  margin-left: 100px;
}

.author p {
  color: #666;
  font-style: italic;
  line-height: 1.5em;
}

.icon {
  font-family: 'entypo';
}

.social {
  font-family: 'entypo-social';
}

header .icon {
  color: #e6e7ec;
}

.social a {
  color: #ccc;
}

.social a:hover, header .icon:hover, header .icon:active {
  color: #36A7D8;
  text-decoration: none;
  border: none;
}

footer {
  background: #fafafa;
  text-align: center;
  padding: 1em 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

header .icon, footer .social {
  font-size: 3em;
}

footer a {
  display: inline-block;
  line-height: 80%;
  width: 50px;
}

footer .social span {
  display: block;
  font-size: .25em;
  line-height: 100%;
}

.home {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 80%;
    padding-bottom: 72px;
  }
  
  h1 { font-size: 3em; }

  .body-copy {
    padding-left: 0;
    padding-right: 0;
  }

  pre {
    padding: 1em;
    margin: 1em -1em;
  }
  
  .post figure {
    margin: 0 -1em;
  }

  .about-the-author {
    font-size: 1.25em;
    margin: 0;
    padding: 2em 0;
    text-align: center;
  }

  .about-the-author .author,
  .about-the-author img {
    float: none;
    margin: 0 auto 1em;
  }

  header .icon, footer .social {
    font-size: 4em;
  }

  footer .social span {
    display: none;
  }
}
