/*
*   Body Copy: Georgia
*   Primary header: Playfair Display, Gentium Book Basic, or Libre Baskerville?
*   Secondary header:
*/

body {
  font-size: 100%;
  font-family: 'Lora', Georgia, serif;
}

h1, h2 {
  font-weight: 400;
  font-family: 'Lora', 'Playfair Display', Georgia, serif;
}

h1 { font-size: 56px; margin: .25em 0; }

h2 { font-size: 36px; }

a {
  color: #306c9e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #97b5ce;
}

.content {
  width: 80%;
  max-width: 768px;
  margin: 0 auto;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

pre {
  background: #eee;
  padding: 1em;
  margin: 2em 0;
}

.post {
  color: #333;
}

.post figure {
  margin: 0 -3em;
  text-align: center;
}

.post header, .body-copy {
  padding-top: 1em;
  padding-bottom: 1em;
}

.post header {
  text-align: center;
}

.post header h2 {
  font-size: 1.125em;
  font-style: italic;
  color: #999;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.post p {
  margin: .75em 0;
  font-size: 1.125em;
  line-height: 1.5em;
}

.post p:first-of-type {
  font-size: 1.375em;
}

.post p + p {
  text-indent: 2em;
}

.body-copy {
  padding-left: 3em;
  padding-right: 3em;
}

.about-the-author {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 3em 0;
  margin: 0 3em;
}

.about-the-author img { margin-left: -3em; }

.about-the-author img,
.about-the-author .author {
  vertical-align: middle;
  display: inline-block;
}

.about-the-author .author {
  width: 80%;
  margin-left: 1em;
}

.author p {
  color: #888;
  font-style: italic;
  line-height: 1.4em;
}

