@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
.animated, .scrolled .subquestion-text {
  animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -webkit-animation-duration: 500ms; }

@-webkit-keyframes slideInDown {
  0% {
    transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -webkit-transform: translateY(-30px); }

  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0); } }

@-moz-keyframes slideInDown {
  0% {
    transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -webkit-transform: translateY(-30px); }

  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0); } }

@-o-keyframes slideInDown {
  0% {
    transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -webkit-transform: translateY(-30px); }

  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0); } }

@keyframes slideInDown {
  0% {
    transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -webkit-transform: translateY(-30px); }

  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0); } }

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }

  25%, 75% {
    opacity: .1; } }

@-moz-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }

  25%, 75% {
    opacity: .1; } }

@-o-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }

  25%, 75% {
    opacity: .1; } }

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }

  25%, 75% {
    opacity: .1; } }

.selected .bg {
  animation-name: flash;
  -webkit-animation-name: flash;
  -moz-animation-name: flash;
  -o-animation-name: flash; }

.scrolled .subquestion-text {
  animation-duration: 300ms;
  -moz-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-name: slideInDown;
  -webkit-animation-name: slideInDown;
  -moz-animation-name: slideInDown;
  -o-animation-name: slideInDown; }

html {
  width: 100%;
  height: 100%; }

body {
  position: relative;
  background: #eee;
  font-size: 100%;
  width: 100%;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  color: #333; }
  @media (max-width: 699px) {
    body {
      background: white; } }

p {
  margin: 0; }

.container {
  width: 100%;
  max-width: 700px;
  background: white;
  margin: 50px auto;
  position: relative; }
  @media (min-width: 700px) {
    .container {
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); } }
  @media (max-width: 699px) {
    .container {
      margin: 0; } }

.header,
.subquestions {
  padding: 1em 2em; }
  @media (max-width: 400px) {
    .header,
    .subquestions {
      padding: 1em; } }

.footer {
  padding: 1em 1em 2em; }
  @media (max-width: 400px) {
    .footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: #fff;
      border-top: 1px solid #eee;
      opacity: .95; } }

.question {
  font-size: 1em;
  line-height: 1.5em; }

.subquestions {
  margin-left: 1.5em;
  padding-top: 0;
  list-style: decimal; }

.subquestion {
  -khtml-opacity: 0.33;
  -moz-opacity: 0.33;
  opacity: 0.33;
  -ms-filter: "alpha(opacity=33)";
  font-size: 1.25em;
  margin: 3em 0;
  cursor: pointer; }
  .subquestion.current {
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: "alpha(opacity=100)";
    cursor: auto; }
  .subquestion.collapsed .option:not(.selected) {
    display: none; }
  .subquestion.collapsed .selected input {
    display: none; }
  .subquestion.collapsed .selected:after {
    position: absolute;
    right: 10px;
    height: 100%;
    content: '\25BE'; }

.subquestion-text {
  font-weight: 600;
  cursor: pointer; }

.scrolled .subquestion-text {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 700px;
  padding-left: 2em;
  box-sizing: border-box;
  line-height: 2em;
  margin: 0 auto;
  z-index: 100;
  background: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }

.options {
  height: auto;
  margin-right: 1em;
  padding-top: 10px; }

.option {
  position: relative;
  display: inline-block;
  padding: 8px;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
  max-width: 100%;
  height: auto;
  font-weight: 400;
  box-sizing: border-box;
  transition: height 300ms ease-in-out, width 100ms ease, opacity 150ms ease-in-out, background-color 75ms ease-in-out;
  transform: translateZ(0);
  pointer-events: none; }
  .option input {
    margin-right: 6px;
    margin-left: 0; }
  .option input, .option span {
    position: relative; }
  .option .bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 2px;
    background: whitesmoke;
    border: 1px solid #cfcfcf; }
  @media (max-width: 400px) {
    .option {
      min-width: 100%; } }

.option.selected .bg, .current .option:hover .bg {
  background-color: #e8e8e8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-color: #b5b5b5; }

.current .option {
  pointer-events: auto; }
  .current .option:active .bg {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    border-color: darkgrey; }

.footer span {
  font-size: .85em;
  display: inline-block;
  max-width: 50%;
  line-height: 20px; }

button {
  float: right; }

.prev, .next, button {
  border-radius: 3px;
  padding: 0 20px;
  color: white;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  background: #0099ff;
  border: 1px solid #006bb3;
  outline: 0; }
  .prev:hover, .next:hover, button:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }
  .prev:active, .next:active, button:active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3); }
