<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Matt Shwery">
    <meta name="description" content="stuff">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../css/article.css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,400italic" rel="stylesheet" type="text/css">
    <title>{% if page.title %} {{ page.title }} |{% endif %} {{ site.title }}</title>
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <header {% if page.featured_background %} style="background: {{ page.featured_background || transparent }};" {% endif %}>
      <a href="/" class="logo"><img src="../img/logo.png" alt="logo"/></a>
    </header>

    <section>
      {{ content }}
    </section>
    
    <footer> 
      <a href="https://twitter.com/mshwery" target="_blank" title="Twitter" class="social">&#62217;<span>Twitter</span></a>
      <a href="http://dribbble.com/mshwery" target="_blank" title="Dribbble" class="social">&#62235;<span>Dribbble</span></a>
      <a href="https://github.com/mshwery" target="_blank" title="Github" class="social">&#62208;<span>Github</span></a>
      <a href="mailto:mshwery@gmail.com" target="_blank" title="Email" class="social">&#57374;<span>Email</span></a>
    </footer>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26916276-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
