---
layout: layout
---

<div class="content">
  <article class="post">
    <header>
      <h1>{{ page.title }}</h1>
      <h2>
        <a href="/about" title="About the author">Matt Shwery</a> {% if page.guest_author %} & {{ page.guest_author }} {% endif %} wrote this {{ page.date | date: "%b %e, %Y" }}
      </h2>
    </header>
    <div class="body-copy">
      {{ content }}
    </div>
  </article>
  <div class="about-the-author">
    <img src="/img/mshwery.png" alt="The author, M Shwery"/>
    <div class="author">
      <h3>About Matt Shwery</h3>
      <p>Matt is a designer & developer living in New Orleans, Louisiana. He specializes in user interfaces for web apps. He also is the creator of <a href="http://getminimalist.com">minimaList</a>, a simple to-do app.</p>
    </div>
  </div>
</div>
